@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    color: var(--white)
}

:root {
    --primary: #03FF77;
    --secondary: #03FF4A;
    --dark-bg: #110F17;
    --light-bg: #1D192C;
    --white: #fff;
    --black: #000;
    --white-mod: #F0E3CA;
    --bg-footer: #1D192C
}

html {
    scroll-behavior: smooth;
    background: var(--dark-bg)
}

.navigation {
    align-items: center;
    box-shadow: 0 .1rem .5rem #000000a5;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    transition: all .5s;
    width: 100%;
    z-index: 1;
    position: fixed;
    background: var(--dark-bg)
}

.navigation .logo {
    color: var(--pink);
    font-size: 1.7rem;
    font-weight: 600
}

.logo span {
    color: var(--dark-bg)
}

.navigation ul {
    align-items: center;
    display: flex;
    gap: 2rem
}

.navigation ul li a {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .5s
}

.navigation ul li a.active,
.navigation ul li a:hover {
    color: var(--primary)
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem
}

.menu {
    cursor: pointer;
    display: none
}

.menu .bar {
    background: var(--secondary);
    border-radius: 3px;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all .3s;
    width: 28px
}

.menu .bar:first-child,
.menu .bar:nth-child(3) {
    background: var(--white)
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem
}

.welcome-left {
    text-align: justify
}

.welcome-left .name-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: 4rem;
    color: var(--secondary);
    padding-top: 11rem
}

.welcome-left .web-function {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 1rem
}

.welcome-left .welcome-paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.313rem;
    padding-top: 1rem
}

.welcome-left a {
    display: flex;
    justify-content: center;
    padding: 1rem 10rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 900;
    border: 1px solid var(--secondary);
    transition: all .5s
}

.welcome-left a:hover {
    background: var(--secondary)
}

.welcome-right img {
    width: 100%;
    height: 575px;
    margin-top: 5rem
}

.about {
    display: flex;
    height: 228.79px;
    gap: 2rem;
    align-items: center;
    padding: 0 10rem;
    height: 100%
}

.about .about-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify
}

.skills {
    display: flex;
    flex-direction: column
}

.skills .skills-title {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary);
    margin: 4% 0
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
}

.cards-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    height: 300px;
    width: 200px;
    background: var(--light-bg);
    border-radius: 10px;
    transition: all .3s
}

.cards-item svg path {
    transition: all .3s;
    fill: var(--white-mod);
    transform-origin: center
}

.cards-item:hover {
    transform: scale(1.1)
}

.cards-item:hover svg path {
    fill: var(--secondary)
}

.cards-item h4 {
    font: 400 2rem/2.313rem 'Arial'
}

.portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding: 2rem;
    gap: 5rem
}

.portfolio .title-portfolio {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary)
}

.portfolio .container-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
}

.card-portfolio,
.project-portfolio {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    transition: all .3s
}

.card-portfolio:hover,
.project-portfolio:hover {
    transform: scale(1.1)
}

.card-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    background: var(--light-bg)
}

.card-portfolio h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    color: var(--secondary)
}

.card-portfolio .paragraph-portfolio-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem
}

.portfolio span {
    width: 190px;
    height: 0;
    border: 1px solid #09A362;
    margin: 0 4rem
}

.card-portfolio .paragraph-portfolio-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 17px
}

.portfolio .portfolio-button {
    padding: 12px 20px;
    background: var(--dark-bg);
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .5s;
    margin: 0 1rem
}

.portfolio .portfolio-button:hover {
    background: var(--secondary);
    color: var(--black)
}

.container-footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 3rem 0;
    gap: 10rem;
    background: var(--bg-footer)
}

.footer-left p {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.313rem;
    width: 213px;
    text-align: justify
}

.footer-right h3 {
    font-size: 2rem;
    color: var(--secondary)
}

.footer-item {
    display: flex;
    justify-content: center;
    gap: .9rem
}

.footer-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.125rem;
    color: var(--secondary);
    cursor: pointer
}

@media (max-width: 426px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem
    }

    .welcome-left {
        text-align: center
    }

    .welcome-left .name-title {
        padding-top: 0;
        font-size: 3rem
    }

    .welcome-right img {
        width: 100%;
        height: 300px;
        margin-top: 0
    }
}

@media (max-width: 768px) {
    .navigation {
        padding: 18px 20px
    }

    .menu {
        display: block
    }

    .menu.ativo .bar:first-child {
        transform: translateY(8px) rotate(45deg)
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu {
        background: var(--light-bg);
        flex-direction: column;
        gap: -10px;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 70px;
        transition: .3s;
        width: 100%;
        z-index: 1
    }

    .nav-menu.ativo {
        right: 0
    }

    .nav-item {
        margin: 16px 0
    }

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem
    }

    .welcome-left {
        text-align: center
    }

    .welcome-left .name-title {
        padding-top: 20%
    }

    .welcome-right img {
        width: 100%;
        height: 500px;
        margin-top: 5%
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        height: 100%
    }

    .about-right {
        padding: 5rem 0
    }

    .about .about-paragraph {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5rem
    }

    .skills .skills-title {
        margin: 5% 0
    }

    .cards-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
        height: 250px;
        width: 200px;
        background: var(--light-bg);
        border-radius: 10px;
        transition: all .3s
    }

    .cards-item svg {
        width: 6rem
    }

    .cards-item h4 {
        font: 400 1.5rem/2.313rem 'Arial'
    }

    .portfolio {
        margin-top: 5%
    }

    .card-portfolio,
    .project-portfolio {
        width: 280px;
        height: 280px;
        border-radius: 10px;
        transition: all .3s
    }

    .portfolio span {
        width: 160px;
        height: 0;
        border: 1px solid #09A362;
        margin: 0 4rem
    }

    .card-portfolio .paragraph-portfolio-2 {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 17px
    }

    .container-footer {
        flex-direction: column;
        text-align: center;
        gap: 2rem
    }

    .footer-left p {
        text-align: center;
        width: 100%
    }

    .footer-right {
        width: 100%
    }
}